{% extends '::base.html.twig' %}

{% block title %} Products in Category {{ category.title }} {% endblock %}

{% block body %}

    <h1>Category {{ category.title }}</h1>

    {% for item in products %}
        <p>
            <span class="product-list">
                <a href="{{ path('show_product', {'product': item.id}) }}">
                    {{ item.title }}
                </a>
            </span>
            <span style="padding-left: 50px  ">
                <a href="{{ path('show_product', {'product': item.id}) }}">Deetail</a>
                <a href="{{ path('update_product', {'product': item.id}) }}">Edit</a>
                <a href="{{ path('delete_product', { 'product': item.id }) }}">Delete</a>
            </span>
        </p>
    {% endfor %}



{% endblock %}